@font-face {
  font-family: 'enipp';
  src: url('/fonts/Enipp-Font.otf');
}

@font-face {
  font-family: 'quicksand';
  src: url('/fonts/Quicksand.ttf');
}

body{
  font-family: 'enipp', 'quicksand';
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}